<a href="https://colab.research.google.com/github/Shanmukha2775/2025KhubTasks./blob/main/Day01PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 01 - Python Basics

1. Strings and String Methods, Booleans and Operators
2. Lists, Tuples, Sets, and Dictionaries
3. Conditional Statements
4. Match Case

**Strings**

A string is text inside quotes.
Strings can be single quotes (' '), double quotes (" "), or triple quotes (''' ''') for multiple lines.

In [ ]:
# Strings in Python
Name = "Shanmukha"

**String Methods**

Methods are actions we can perform on strings.

In [ ]:
# String Methods
text = "Hello World!"
print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Strip:", text.strip())
print("Replace:", text.replace("World", "All"))
print("Split:", text.split())
print("Find position of 'World':", text.find("World"))
print("Starts with 'He':", text.startswith("He"))
print("Ends with '!':", text.endswith("!"))

Uppercase: HELLO WORLD!
Lowercase: hello world!
Strip: Hello World!
Replace: Hello All!
Split: ['Hello', 'World!']
Find position of 'World': 6
Starts with 'He': True
Ends with '!': True

**Booleans**

Booleans have only True or False values.

In [ ]:
#Boolean
x = 5
y = 10
print(x > y)
print(x < y)

False
True

**Operators**

In [ ]:
a, b = 7, 3

# 1. Arithmetic Operators (Math calculations)
print("Add:", a + b)
print("Subtract:", a - b)
print("Multiply:", a * b)
print("Divide:", a / b)
print("Modulus:", a % b)
print("Power:", a ** b)
print("Floor Division:", a // b)

# 2. Assignment Operators (Assign values)
x = 5
x += 3
x -= 2
x *= 2
print("x after changes:", x)

# 3. Comparison Operators (True/False check)
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

# 4. Logical Operators (Combine conditions)
print(True and False)
print(True or False)
print(not True)

# 5. Identity Operators (Same memory?)
print(a is b)
print(a is not b)

# 6. Membership Operators (Value present?)
numbers = [1, 2, 3]
print(2 in numbers)
print(5 not in numbers)

# 7. Bitwise Operators (Work on binary numbers)
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

Add: 10
Subtract: 4
Multiply: 21
Divide: 2.3333333333333335
Modulus: 1
Power: 343
Floor Division: 2
x after changes: 12
False
True
True
False
True
False
False
True
False
False
True
True
True
3
7
4
-8
14
3

**List**

Ordered, changeable, allows duplicates.

In [ ]:
# Lists
fruits = ["apple", "banana", "cherry"]
print("Fruits List:", fruits)
fruits.append("mango")
print("After append:", fruits)
fruits.remove("banana")
print("After remove:", fruits)
print("First Fruit:", fruits[0])

Fruits List: ['apple', 'banana', 'cherry']
After append: ['apple', 'banana', 'cherry', 'mango']
After remove: ['apple', 'cherry', 'mango']
First Fruit: apple

**Tuples**

Ordered, unchangeable, allows duplicates.

In [ ]:
# Tuples
colors = ("red", "green", "blue")
print("Colors Tuple:", colors)
print("First Color:", colors[0])

Colors Tuple: ('red', 'green', 'blue')
First Color: red

**Sets**

Unordered, no duplicates.

In [ ]:
# Sets
numbers = {1, 2, 3, 4}
print("Numbers Set:", numbers)
numbers.add(5)
print("After add:", numbers)
numbers.remove(3)
print("After remove:", numbers)

Numbers Set: {1, 2, 3, 4}
After add: {1, 2, 3, 4, 5}
After remove: {1, 2, 4, 5}

**Dictionaries**

Stores data in key-value pairs.

In [ ]:
# Dictionaries
student = {"name": "Shanmukha", "age": 18}
print("Student Data:", student)
print("Name:", student["name"])
student["age"] = 19
print("Updated Data:", student)

Student Data: {'name': 'Shanmukha', 'age': 18}
Name: Shanmukha
Updated Data: {'name': 'Shanmukha', 'age': 19}

**Conditional** **Statements**

Used to make decisions in code

if → checks condition

elif → checks another condition if first is False

else → runs if all above are False

In [ ]:
age = 18

if age >= 18:
    print("You are an adult")
elif age > 13:
    print("You are a teenager")
else:
    print("You are a child")

You are an adult

**Match Case**

Similar to switch in other languages.

In [ ]:
day = 7

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case _:
        print("Invalid day")

Invalid day

✅ Task Completed - Day01PythonBasics